* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* body {
  margin: 5px;
}

* body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body .container #layout {
  background-color: white;
  width: 980px;
  margin: auto;
  text-align: left;
  padding: 2px;
}

header {
  background: url("../assets/virus.jpg") no-repeat center/cover;
}

header h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  width: 100%;
  height: 40px;
  margin: auto;
  max-width: 100%;
  top: 0;
  padding: 15px 0;
}

header .runningtext {
  padding-top: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  background-color: rgba(1, 22, 41, 0.801);
}

header .menu {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 3px 0px 3px 5px;
  max-width: 100%;
  height: 23px;
  background-color: #8ebcf8;
  letter-spacing: 2px;
}

header .menu a {
  color: white;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  margin: 5px;
  text-decoration: none;
}

header .menu a .btn {
  padding: 5px 10px 5px 10px;
}

header .menu a .btn:hover {
  color: black;
  background-color: rgba(225, 236, 248, 0.938);
}

header .menu-toggle span {
  display: block;
  width: 28px;
}

section {
  padding: 5px 5px 5px 5px;
}

section .sidebar {
  padding: 5px;
  width: 27%;
  position: relative;
  float: right;
  border-width: 1px;
  background-color: #f3f0f0;
}

section .sidebar .widged {
  width: 100%;
  background-bottom: 5px;
  background-color: white;
}

section .sidebar .widged .gif {
  width: 99%;
  height: 250px;
}

section .sidebar .widged .judulwidged {
  background-color: #8ebcf8;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 5px 0px 5px 0px;
  width: 100%;
  margin: 0px 0px 0px 0px;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 5px;
}

section .sidebar .widged ul {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  list-style-type: none;
}

section .sidebar .widged ul li {
  padding: 0px 0px 0px 0px;
  background-position: left;
  color: white;
}

section .sidebar .widged ul li a {
  color: black;
  border-bottom: 1px solid;
  display: block;
  margin-bottom: 5px;
  padding: 4px 5px 3px 10px;
  color: black;
  text-decoration: none;
}

section .sidebar .widged ul li a:hover {
  color: blue;
}

section #information {
  width: 70%;
  height: auto;
  position: relative;
  margin-top: 5px;
}

section #information .gambar {
  float: left;
  height: 160px;
  width: 250px;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-top: 10px;
  padding: 1px;
  border-radius: 5%;
}

section #information .pengertian {
  text-align: justify;
  border-bottom: 1px solid gray;
  background-color: white;
}

section #information .pengertian h2 {
  color: black;
}

section #information .pengertian h2:hover {
  color: blue;
}

section #information .pengertian a {
  text-decoration: none;
}

section #information .sejarah {
  background-color: white;
  text-align: justify;
  border-bottom: 1px solid gray;
  width: 99%;
  height: 360px;
  margin-bottom: 5px;
  padding: 5px;
}

section #information .sejarah p {
  font-size: 0.9rem;
}

section #information .sejarah a {
  text-decoration: none;
}

section #information .penyebab {
  text-align: justify;
  background-color: white;
  width: 99%;
  height: 255px;
  margin-bottom: 5px;
  padding: 5px;
}

section #information .penyebab p {
  font-size: 0.9rem;
}

section #information .penyebab a {
  text-decoration: none;
}

section #healthcare {
  border-top: 1px solid gray;
  margin-top: 35px;
}

section #healthcare .gejala_pencegahan {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 15px;
  padding: 10px 10px 10px 10px;
}

section #healthcare .gejala_pencegahan .isisehat {
  border: 1px solid gray;
  width: 280px;
  min-height: 350px;
  margin: 10px;
  padding: 5px 5px 5px 5px;
}

section #healthcare .gejala_pencegahan .isisehat a {
  text-decoration: none;
  font-weight: bold;
}

section #healthcare .gejala_pencegahan .isisehat h4 {
  color: black;
}

section #healthcare .gejala_pencegahan .isisehat h4:hover {
  color: blue;
  cursor: pointer;
}

section #healthcare .gejala_pencegahan .isisehat h5 {
  font-weight: normal;
}

section #healthcare .gambar_healthcare {
  height: 135px;
  width: 275px;
}

section #about .about {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  background-color: #8ebcf8;
  height: 110px;
}

footer .link {
  color: blue;
}

@media (max-width: 1024px) {
  header {
    max-width: 1024px;
    height: 125px;
    margin: auto;
  }
  header .runningtext {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgba(1, 22, 41, 0.801);
  }
  header #information .sejarah {
    height: 580px;
  }
  header #information .penyebab {
    height: 420px;
  }
  footer {
    margin: 20px;
    width: 980px;
    margin: auto;
  }
}

@media (max-width: 768px) {
  body {
    margin: 15px;
  }
  body header {
    max-width: 748px;
    height: 125px;
    margin: auto;
    margin: 5px;
  }
  body #layout {
    background-color: white;
    max-width: 758px;
    margin: auto;
    text-align: left;
    padding: 2px;
  }
  body #layout .sidebar {
    display: none;
  }
  body #layout #information .sejarah {
    height: 450px;
  }
  body #layout #information .penyebab {
    height: 320px;
  }
  body #layout footer {
    margin: 10px;
    max-width: 758px;
    margin: auto;
  }
}

@media (max-width: 567px) {
  body {
    margin: 10px;
  }
  body header {
    max-width: 480px;
    height: 125px;
    margin: auto;
    margin: 5px;
  }
  body #layout {
    background-color: white;
    max-width: 480px;
    margin: auto;
    text-align: left;
    padding: 2px;
  }
  body #layout #information .sejarah {
    height: 630px;
  }
  body #layout #information .penyebab {
    height: 470px;
  }
  body #layout .gambar {
    width: 320px;
  }
  body #layout footer {
    margin: 10px;
    width: 480px;
    margin: auto;
  }
}

@media (max-width: 375px) {
  body {
    margin: 5px;
  }
  body header {
    max-width: 340px;
    height: 125px;
    margin: auto;
    margin: 5px;
  }
  body #layout {
    background-color: white;
    max-width: 350px;
    margin: auto;
    text-align: left;
    padding: 2px;
  }
  body #layout #information .sejarah {
    height: 770px;
  }
  body #layout #information .penyebab {
    height: 550px;
  }
  body #layout .gambar {
    width: 230px;
  }
  body #layout #healthcare .gejala_pencegahan .isisehat {
    border: 1px solid gray;
    width: 200px;
    min-height: 350px;
  }
  body #layout #healthcare .gambar_healthcare {
    height: 135px;
    width: 200px;
  }
  body #layout footer {
    max-width: 340px;
    margin: auto;
  }
  body #layout footer h4 {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=style.css.map */