$color_white: white;
$color_bluesoft: #8ebcf8;
$color_blue: blue;
$color_gray: rgb(243, 240, 240);

*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    body{
    margin: 5px;
    .container{
      display: flex;
      flex-direction: column;
      #layout{
        background-color: $color_white;
        width: 980px;
        margin: auto;
        text-align: left;
        padding: 2px;
      }
    }
  } 
}

header{
  background: url("../assets/virus.jpg") no-repeat center/cover ;
    h1{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color:$color_white;
      width: 100%;
      height: 40px;
      margin: auto;
      max-width: 100%;
      top: 0;
      padding: 15px 0;
    }
    .runningtext{
      padding-top: 5px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: $color_white;
      background-color: rgba(1, 22, 41, 0.801);
    }
    .navbar{
        display: flex;
        align-items: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.1rem;
        cursor: pointer;
        padding: 3px 0px 3px 5px;
        max-width: 100%;
        height: 23px;
        background-color: $color_bluesoft;
        letter-spacing: 2px;
      .menu{
        display: flex;
        a{
          color: $color_white;
          transition: 0.6s ease;
          margin: 5px;
          text-decoration: none;
        .btn{
          padding: 5px 10px;
          &:hover{
            color: black;
            background-color: rgba(225, 236, 248, 0.938);
          } 
        }
      }
    }
  }
}

section{
  padding: 5px 5px;
  .sidebar{
    padding: 5px;
    width: 27%;
    position: relative;
    float: right;
    border-width: 1px;
    background-color: $color_gray;
    .widged{
      width: 100%;
      background-bottom: 5px;
      background-color:$color_white;
      .gif{
        width: 99%;
        height: 250px;
        border-top: 1px solid gray;
      }
      .judulwidged{
        background-color: $color_bluesoft;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 5px 0px;
        width: 100%;
        text-align: center;
        color:black;
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: 5px;
        .change{
          margin-top: 20px;
        }
      }
      ul{
        margin: 0px 0px;
        padding: 0px 0px;
        list-style-type: none;
          li{
            padding: 0px 0px;
            background-position: left;
            color: $color_white;
            a{
              color: black;
              border-bottom: 1px solid;
              display: block;
              margin-bottom: 5px;
              padding: 4px 5px 3px 10px;
              color: black;
              text-decoration: none;
              &:hover{
              color: blue;
              }
            }
        }
      }
    } 
  }
  #information{
    width: 70%;
    height: auto;
    position: relative;
    margin-top: 5px;
    .gambar{
      float: left;
      height:160px;
      width: 250px;
      margin-right: 10px 20px 5px 0;
      padding: 1px;
      border-radius: 5%;
    }
    .pengertian{
      text-align: justify;
      border-bottom: 1px solid gray;
      background-color: white;
      h2{
        color: black;
        &:hover{
          color:$color_blue;
        }
      }
      a{
        text-decoration: none;
      }
    }
    .sejarah{
      background-color: white;
      text-align: justify;
      border-bottom: 1px solid gray;
      width: 99%;
      height: 360px;
      margin-bottom: 5px;
      padding: 5px;
      p{
        font-size: 0.9rem;
      }
      a{
        text-decoration: none;
      }
    }
    .penyebab{
      text-align: justify;
      background-color: white;
      width: 99%;
      height: 255px;
      margin-bottom: 5px;
      padding: 5px;
      p{
        font-size: 0.9rem;
      }
      a{
        text-decoration: none;
      }
    }
  }
  #healthcare{
    border-top: 1px solid gray;
    margin-top: 35px;
    .gejala_pencegahan{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      margin-top: 15px;
      padding: 10px 10px;
      .isisehat{
        border: 1px solid gray;
        width: 280px;
        min-height: 350px;
        margin: 10px;
        padding: 5px 5px;
        a{
          text-decoration: none;
          font-weight: bold;
        }
        h4{
          color: black;
          &:hover{
            color: blue;
            cursor: pointer;
          }
        }
        h5{
          font-weight: normal;
        }
       }
      }
    .gambar_healthcare{
      height: 135px;
      width: 275px;
    }
  }
  #about{
    .about{
      align-items: center;
    }
  }
}

footer{
  background-color: #8ebcf8;
  height: 110px;
  .title{
  }
  .link{
    color: blue;
  }
}

@media  (min-width:1025px){
  header{
    .menu-toggle{
      display: none;
    }
  }
}
//Responsive Breakpoint
@media (max-width:1024px) and (min-width:769px){
  header{
  max-width:1024px;
  height: 125px;
  margin: auto;
    .runningtext{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    background-color: rgba(1, 22, 41, 0.801);
    }
    .menu{
      .menu-toggle{
        display: none;
      }
    }
  }
  section{
    #information{
      .sejarah{
        height: 370px;
      }
      .penyebab{
        height: 270px;
      }
      .gambar{
        width: 250px;
        height: 200px;
      }
    }
  }

  footer{
    margin: 20px;
    width: 980px;
    margin: auto;
  }
}

@media (max-width:768px)and (min-width:501px){ 
  body{
    margin: 15px;
      header{
        max-width:748px;
        height: 125px;
        margin: auto;
        margin: 5px;
        .menu{
          .menu-toggle{
            display: none;
          }
        }
      }
        #layout{
          background-color: $color_white;
          max-width: 758px;
          margin: auto;
          text-align: left;
          padding: 2px;
       #information{
          .sejarah{
            height: 450px;
          }
          .penyebab{
            height: 320px;
          }
        }
        .gambarflu{
          width: 520px;
        }
      footer{
        margin: 10px;
        max-width: 758px;
        margin: auto;
      }
    }
  }//tablet
}

@media (max-width:500px) and (min-width:376px) { //mobile
  body{
    margin:10px;
    #layout{
      background-color: $color_white;
      max-width: 480px;
      margin: auto;
      text-align: left;
      padding: 2px;
      header{
        max-width:480px;
        height: 125px;
        margin: auto;
        margin: 5px;
        .menu{
          font-size: 1rem;
        }
      }
      section{
        .sidebar{
          display: none;
        }
        .gambarflu{
          width: 450px;
        }
        #information{
          .sejarah{
            height: 630px;
          }
          .penyebab{
            height: 470px;
          }
          .gambar{
            width: 300px;
          }
        }
        footer{
          margin: 10px;
          width: 480px;
          margin: auto;
        }
      }
    }
  } 
}

@media (max-width:375px){ //iphone
  body{
    margin:10px;
    #layout{
      background-color: $color_white;
      max-width: 480px;
      margin: auto;
      text-align: left;
      padding: 2px;
      header{
        max-width:480px;
        height: 125px;
        margin: auto;
        margin: 5px;
        .menu{
          
        }
      }
      section{
        .sidebar{
          display: none;
        }
        .gambarflu{
          width: 450px;
        }
        #information{
          .sejarah{
            height: 630px;
          }
          .penyebab{
            height: 470px;
          }
          .gambar{
            width: 280px;
          }
        }
        footer{
          margin: 10px;
          width: 480px;
          margin: auto;
        }
      }
    }
  }
}