* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* body {
  margin: 5px;
}

* body #layout {
  background-color: white;
  width: 980px;
  margin: auto;
  text-align: left;
  padding: 2px;
}

header {
  background: url("./assets/virus.jpg") no-repeat center/cover;
}

header h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  width: 100%;
  height: 40px;
  margin: 0 auto;
  max-width: 100%;
  top: 0;
  padding: 15px 0;
}

header .runningtext {
  padding-top: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  background-color: rgba(1, 22, 41, 0.801);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 3px 0px 3px 5px;
  max-width: 100%;
  height: 23px;
  background-color: #8ebcf8;
  letter-spacing: 2px;
}

.menu a {
  color: white;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  margin: 5px;
  text-decoration: none;
}

.menu a .btn1 {
  padding: 5px 10px 5px 10px;
}

.menu a .btn1:hover {
  color: black;
  background-color: rgba(225, 236, 248, 0.938);
}

.menu a .btn2 {
  padding: 5px 10px 5px 10px;
}

.menu a .btn2:hover {
  color: black;
  background-color: rgba(225, 236, 248, 0.938);
}

.menu a .btn3 {
  padding: 5px 10px 5px 10px;
}

.menu a .btn3:hover {
  color: black;
  background-color: rgba(225, 236, 248, 0.938);
}

.sidebar {
  padding: 5px;
  width: 27%;
  position: relative;
  float: right;
  border-width: 1px;
  background-color: #eeeded;
}

.sidebar .widged {
  width: 100%;
  background-bottom: 5px;
  background-color: white;
}

.sidebar .widged ul {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  list-style-type: none;
}

.sidebar .widged ul li {
  padding: 0px 0px 0px 0px;
  background-position: left;
  color: white;
}

.sidebar .widged ul li a {
  color: black;
  border-bottom: 1px dotted;
  display: block;
  margin-bottom: 5px;
  padding: 4px 5px 3px 10px;
  color: black;
  text-decoration: none;
}

.sidebar .widged ul li a:hover {
  color: blue;
}

.sidebar .gif {
  width: 99%;
  height: 250px;
}

.sidebar .judulwidged {
  background-color: #73acf7;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 5px 0px 5px 0px;
  width: 100%;
  margin: 0px 0px 0px 0px;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 5px;
}

section {
  padding: 5px 5px 5px 5px;
}

section #information {
  width: 70%;
  height: auto;
  position: relative;
  margin-top: 5px;
}

section .pengertian {
  border-bottom: 1px solid gray;
  background-color: white;
}

section .pengertian h2 {
  color: black;
}

section .pengertian h2:hover {
  color: blue;
}

section .pengertian a {
  text-decoration: none;
}

section .sejarah {
  background-color: white;
  border-bottom: 1px solid gray;
  width: 99%;
  height: 280px;
  margin-bottom: 5px;
  padding: 5px;
}

section .sejarah p {
  font-size: 0.9rem;
}

section .sejarah a {
  text-decoration: none;
}

section .sejarah .gambar {
  float: left;
  height: 160px;
  width: 250px;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-top: 10px;
  padding: 1px;
  border-radius: 5%;
}

section .penyebab {
  background-color: white;
  width: 99%;
  height: 210px;
  margin-bottom: 5px;
  padding: 5px;
}

section .penyebab p {
  font-size: 0.9rem;
}

section .penyebab a {
  text-decoration: none;
}

section .penyebab .gambar {
  float: left;
  margin-right: 2px;
  height: 200px;
  width: 250px;
  margin-right: 20px;
  margin-top: 10px;
  padding: 1px;
  border-radius: 5%;
}

section #healthcare {
  border-top: 1px solid gray;
  margin-top: 35px;
}

section #healthcare .gejala {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-top: 15px;
}

section #healthcare .gejala .sesak {
  border: 1px solid gray;
  width: 280px;
  height: 310px;
  margin: 10px;
}

section #healthcare .gejala .sesak a {
  text-decoration: none;
  font-weight: bold;
}

section #healthcare .gejala .sesak h4 {
  color: black;
}

section #healthcare .gejala .sesak h4:hover {
  color: blue;
  cursor: pointer;
}

section #healthcare .gejala .sesak h5 {
  font-weight: normal;
}

section #healthcare .gejala .bersin {
  border: 1px solid gray;
  width: 280px;
  height: 310px;
  margin: 10px;
}

section #healthcare .gejala .bersin a {
  text-decoration: none;
  font-weight: bold;
}

section #healthcare .gejala .bersin h4 {
  color: black;
}

section #healthcare .gejala .bersin h4:hover {
  color: blue;
  cursor: pointer;
}

section #healthcare .gejala .bersin h5 {
  font-weight: normal;
}

section #healthcare .gejala .demam {
  border: 1px solid gray;
  width: 280px;
  height: 310px;
  margin: 10px;
}

section #healthcare .gejala .demam a {
  text-decoration: none;
  font-weight: bold;
}

section #healthcare .gejala .demam h4 {
  color: black;
}

section #healthcare .gejala .demam h4:hover {
  color: blue;
  cursor: pointer;
}

section #healthcare .gejala .demam h5 {
  font-weight: normal;
}

section #healthcare .pencegahan {
  border-top: 1px solid gray;
  margin-top: 20px;
}

section #healthcare .pencegahan .cegah {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-top: 15px;
}

section #healthcare .pencegahan .cegah .kebersihan {
  border: 1px solid gray;
  width: 280px;
  height: 310px;
  margin: 10px;
}

section #healthcare .pencegahan .cegah .kebersihan a {
  text-decoration: none;
  font-weight: bold;
}

section #healthcare .pencegahan .cegah .kebersihan h4 {
  color: black;
}

section #healthcare .pencegahan .cegah .kebersihan h4:hover {
  color: blue;
  cursor: pointer;
}

section #healthcare .pencegahan .cegah .kebersihan h5 {
  font-weight: normal;
}

section #healthcare .pencegahan .cegah .olahraga {
  border: 1px solid gray;
  width: 280px;
  height: 310px;
  margin: 10px;
}

section #healthcare .pencegahan .cegah .olahraga a {
  text-decoration: none;
  font-weight: bold;
}

section #healthcare .pencegahan .cegah .olahraga h4 {
  color: black;
}

section #healthcare .pencegahan .cegah .olahraga h4:hover {
  color: blue;
  cursor: pointer;
}

section #healthcare .pencegahan .cegah .olahraga h5 {
  font-weight: normal;
}

section #healthcare .pencegahan .cegah .vitc {
  border: 1px solid gray;
  width: 280px;
  height: 310px;
  margin: 10px;
}

section #healthcare .pencegahan .cegah .vitc a {
  text-decoration: none;
  font-weight: bold;
}

section #healthcare .pencegahan .cegah .vitc h4 {
  color: black;
}

section #healthcare .pencegahan .cegah .vitc h4:hover {
  color: blue;
  cursor: pointer;
}

section #healthcare .pencegahan .cegah .vitc h5 {
  font-weight: normal;
}

section #healthcare footer {
  background-color: #89befa;
}

section #healthcare footer .link {
  color: blue;
}
/*# sourceMappingURL=style.css.map */