* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* body {
  margin: 5px;
}

header {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  background: url("./assets/virus.jpg") no-repeat center/cover;
  max-width: 100%;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  padding: 15px 0;
}

header h1 {
  color: white;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  padding: 3px 0px 3px 3px;
  text-decoration: none;
}

a {
  color: white;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 5px;
  margin: 5px;
}

a .btn1 {
  -webkit-box-shadow: 0 0 10px 5px black;
          box-shadow: 0 0 10px 5px black;
  padding: 5px 10px 5px 10px;
}

a .btn1:hover {
  color: #4c2ff1;
  background-color: #71ebe0;
}

a .btn2 {
  -webkit-box-shadow: 0 0 10px 5px black;
          box-shadow: 0 0 10px 5px black;
  padding: 5px 10px 5px 10px;
}

a .btn2:hover {
  color: #4c2ff1;
  background-color: #71ebe0;
}

a .btn3 {
  -webkit-box-shadow: 0 0 10px 5px black;
          box-shadow: 0 0 10px 5px black;
  padding: 5px 10px 5px 10px;
}

a .btn3:hover {
  color: #4c2ff1;
  background-color: #71ebe0;
}

section {
  background-color: #e3fafc;
  padding: 120px 5px 5px 5px;
}

section #information {
  text-align: center;
}

section #information .pengertian {
  margin: 0 auto;
  background: url("./assets/flu.jpg") no-repeat center/cover;
  padding: 20px 20px 20px 10px;
  width: 800px;
  height: 500px;
  -webkit-box-shadow: 0 0 10px 5px black;
          box-shadow: 0 0 10px 5px black;
}

section #information .pengertian .boxp {
  padding: 350px 20px 20px 20px;
}

section #information .pengertian .boxp p {
  margin: 0 auto;
  padding: 15px 10px 10px 10px;
  border: 1px solid;
  height: 50px;
  background-color: #cadbdb;
  border-radius: 30px;
}

section #information .pengertian .boxp p:hover {
  background-color: #7adaf7;
}

section #information .sejarah {
  margin: 0 auto;
  color: white;
  background: url("./assets/fluspanyol.jpeg") no-repeat center/cover;
  padding: 10px 20px 20px 10px;
  width: 800px;
  height: 450px;
  -webkit-box-shadow: 0 0 10px 5px black;
          box-shadow: 0 0 10px 5px black;
}

section #information .sejarah .boxs {
  padding: 30px 20px 20px 20px;
}

section #information .sejarah .boxs:hover {
  background-color: #172726;
}

section #information .sejarah .boxs p {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  width: 720px;
  -webkit-box-shadow: 0 0 10px 5px black;
          box-shadow: 0 0 10px 5px black;
}

section #information .penyebab {
  margin: 0 auto;
  color: white;
  background: url("./assets/nular.jpg") no-repeat center/cover;
  padding: 10px 20px 20px 10px;
  width: 800px;
  height: 400px;
  -webkit-box-shadow: 0 0 10px 5px black;
          box-shadow: 0 0 10px 5px black;
}

section #information .penyebab .boxb {
  padding: 90px 20px 20px 20px;
}

section #information .penyebab .boxb p {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 10px 10px 10px;
  width: 720px;
  -webkit-box-shadow: 0 0 10px 5px black;
          box-shadow: 0 0 10px 5px black;
}

section #information .penyebab .boxb p:hover {
  background-color: #272452;
}

#healthcare {
  padding: 40px 10px 20px 10px;
  text-align: center;
}

#healthcare .gejala {
  margin: 0 auto;
  padding: 30px 20px 20px 40px;
  background: transparent;
  width: 800px;
  height: 550px;
  -webkit-box-shadow: 0 0 10px 5px black;
          box-shadow: 0 0 10px 5px black;
  background-color: #9feaf0;
  -webkit-column-count: 2;
  -moz-column-count: 2;
}

#healthcare .gejala h4 {
  padding: 20px 10px 10px 10px;
}

#healthcare .gejala .sesak {
  height: 200px;
  width: 350px;
  border: 1px solid;
  background-color: cyan;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 10px;
}

#healthcare .gejala .sesak:hover {
  color: #f1bbef;
  background-color: #0b0968;
}

#healthcare .gejala .bersin {
  height: 200px;
  width: 350px;
  border: 1px solid;
  background-color: cyan;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 10px;
}

#healthcare .gejala .bersin:hover {
  color: #f1bbef;
  background-color: #0b0968;
}

#healthcare .gejala .batuk {
  height: 200px;
  width: 350px;
  border: 1px solid;
  background-color: cyan;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 10px;
}

#healthcare .gejala .batuk:hover {
  color: #f1bbef;
  background-color: #0b0968;
}

#healthcare .gejala .demam {
  height: 200px;
  width: 350px;
  border: 1px solid;
  background-color: cyan;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 10px;
}

#healthcare .gejala .demam:hover {
  color: #f1bbef;
  background-color: #0b0968;
}

#healthcare .pencegahan {
  margin: 0 auto;
  padding: 20px 20px 20px 10px;
  background: transparent;
  width: 500px;
  -webkit-box-shadow: 0 0 10px 5px black;
          box-shadow: 0 0 10px 5px black;
}

#healthcare .pencegahan .kebersihan {
  height: 200px;
  width: 350px;
  border: 1px solid;
  background-color: cyan;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 10px;
}

#healthcare .pencegahan .kebersihan:hover {
  color: #f1bbef;
  background-color: #0b0968;
}

#healthcare .cucitangan {
  height: 200px;
  width: 350px;
  border: 1px solid;
  background-color: cyan;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 10px;
}

#healthcare .cucitangan:hover {
  color: #f1bbef;
  background-color: #0b0968;
}

#healthcare .olahraga {
  height: 200px;
  width: 350px;
  border: 1px solid;
  background-color: cyan;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 10px;
}

#healthcare .olahraga:hover {
  color: #f1bbef;
  background-color: #0b0968;
}

#healthcare .vitc {
  height: 200px;
  width: 350px;
  border: 1px solid;
  background-color: cyan;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 10px;
}

#healthcare .vitc:hover {
  color: #f1bbef;
  background-color: #0b0968;
}

#about .about {
  padding: 20px 20px 20px 10px;
  background: transparent;
  width: 500px;
  -webkit-box-shadow: 0 0 10px 5px black;
          box-shadow: 0 0 10px 5px black;
}

footer {
  background-color: #89befa;
}

footer .link {
  color: blue;
}
/*# sourceMappingURL=style.css.map */