$color_blue_dark : #110133;

$color_gold: #FFDC34;

$color_green_mint: #4DD599;

$color_white_blue: #E1F4F3;

$color_red_soft: #FA163F;


//NEUMORPHISM

$color_top_soft_blue_neu: #fcfcfc;
$color_bot_soft_blue_neu: #92B8B6;

$color_top_blue_dark_neu: #210164;
$color_bot_blue_dark_neu: #04020A;

$color_top_green_mint_neu: #7BFFC5;
$color_bot_green_mint_neu: #2C8D62;